@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Nunito+Sans:wght@200;300;400;700&family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
  background-color: cornflowerblue;
}
.container {
    width: 1000px;
    margin: auto;
    height: 600px;
    background-color: white;
    padding: 4rem 5rem;
    position: relative;
  }
  .textblock{
    width: 45%;
  }
  .textblock .title{
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    margin-bottom: 1.5rem;
  }
  .textblock p{
    margin-bottom: 1.3rem;
  }
  a.btn{
    border: 1px solid blue;
    color: blue;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
    text-decoration: none;
    display: inline-block;
  }
  .container img{
    position: absolute;
    top: 16%;
    right: -15%;
    border: 2px solid blue;
  }
  
  

@media only screen and (min-width: 700px) {
  
}


